@charset "UTF-8";
@font-face {
  font-family: 'GoraFree-Regular';
  src:  url('../../fonts/gorafree-regular/gorafree-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src:  url('../../fonts/opensans/opensans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src:  url('../../fonts/opensans/opensans-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight-Italic';
  src:  url('../../fonts/opensans/opensanslight-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}